/Zad_prog_rozdz_8_zad_11/nbproject/private/
/Zad_prog_rozdz_8_zad_11/build/
/Zad_prog_rozdz_8_zad_11/dist/
/Zad_prog_rozdz_8_zad_12/nbproject/private/
/Zad_prog_rozdz_8_zad_12/build/
/Zad_prog_rozdz_8_zad_12/dist/
